@media screen and(min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        grid-gap: 1.5rem;
    }
    /* .card-wrapper {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .prodcut-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .product-content {} */
}